<% content_for(:meta) do %>
  <meta name="description" content=<%= @post.meta_content %>>
  <meta name="keywords" content=<%= @post.labels_content %>>
<% end %>

<% content_for(:title) do %>
  <%= @post.title %>
<% end %>

<div class="row blog-wrapper#blog-show-page" data-url="<%= refresh_blog_comments_path(@post) %>" data-post_id="<%= @post.id %>">
<div class="small-12 large-9 large-centered columns">
<%= render partial: "post", :locals=> { post: @post } %>
</div></div><div class="comment-field">
<%= render partial: 'comment', locals: { comments: @comments, post: @post } %>
<p>
</p><div class="row">
<div class="small-12 large-9 large-centered columns">
<% if @prev
_slim_controls1 = link_to blog_path(@prev), class: 'prev' do
 %><i class="fi-arrow-left">
</i>Prev
<% end %><%= _slim_controls1 %><% end; if @next
_slim_controls2 = link_to blog_path(@next), class: 'next' do
 %>Next
<i class="fi-arrow-right">
</i><% end %><%= _slim_controls2 %><% end %></div></div></div>
