<div class="row">
<div class="small-10 columns small-offset-1">
<h2 class="dash-title"><%= t('admin.dashboard.head') %></h2>
<hr />
<table width="100%">
<thead>
<tr style="background-color: #CCFFCC;">
<th><%= t('admin.dashboard.info') %></th>
<th><%= t('admin.dashboard.data') %></th>
</tr></thead><tbody>
<tr>
<td><%= t('admin.dashboard.posts_count') %></td>
<td><%= @posts_count %></td>
</tr><tr>
<td><%= t('admin.dashboard.comments_count') %></td>
<td><%= @comments_count %></td>
</tr><tr>
<td><%= t('admin.dashboard.visited_count') %></td>
<td><%= @visited_count %></td>
</tr></tbody></table></div></div>
